/* ----------------------------------- */
/* Surf camp component css  */
/* -------------------------------------- */

.text_span {
  color: #fcc116;
}

.surf_container {
  margin-top: 10%;
}


.surf_text {
  color: black;
  font-weight: 900;
  font-size: 60px;
  line-height: 53px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
}

.surf_para {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 22px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 2PX;
}


/* Photo section css  */

.surf_img1 {
  width: 100%;
  border-radius: 5%;
  height: 80vh;

}

.surf_img2 {
  border-radius: 5%;
  width: 100%;
  height: 80vh;

}

.surf_img3 {
  border-radius: 5%;
  width: 100%;
  height: 35vh;


}

.surf_img4 {
  border-radius: 5%;
  width: 100%;
  height: 38vh;

}


/* Medium devices (tablets, 768px and up)---------------- */
@media (max-width: 1024px) and (min-width: 768px) {
  .surf_text {
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
  }

  .surf_para {
    font-size: 15px;
    margin-top: 5%;

  }
}

/* Small devices (phones, 576px and up)------------------ */

@media only screen and (max-width: 600px) {
  .surf_container {
    max-width: 350px;
  }

  .surf_text {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
  }

  .surf_para {
    font-size: 15px;
    margin-top: 5%;
    font-weight: bold;
  }


  .surf_img1 {
    width: 100%;
    border-radius: 5%;
    height: 40vh;

  }

  .surf_img2 {
    border-radius: 5%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 40vh;

  }

}

/* ----------------------------------- */
/* Surf camp slider component css ************************************************************ */
/* -------------------------------------- */
.Surf_slider_div {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.surf_slider {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 22px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.surf_slider_text {
  color: black;
  font-weight: 800;
  font-size: 60px;
  line-height: 70px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
}


.slid_card_backimg {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  /* Adjust as needed */
  overflow: hidden;
}

.slid_card_text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.card_d_text {
  /* color: #ffc800; */
  color: white;
  font-weight: bolder;
  font-size: 50px;
  line-height: 70px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
}

.custom-prev,
.custom-next {
  position: absolute;
  margin-top: -15%;
  transform: translateY(-50%);
  background-color: #000000;
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #ffc800;
}

/* Small devices (phones, 576px and up) */
@media only screen and (max-width: 600px) {
  .Surf_slider_div {
    max-width: 820px;
  }

  .surf_slider_text {
    font-weight: 800;
    font-size: 25px;
    line-height: 40px;

  }

  .surf_slider {
    font-size: 18px;
    margin-top: 5%;
    font-weight: bold;
  }


  .custom-prev,
  .custom-next {
    display: none !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) and (min-width: 768px) {
  .custom-prev {
    left: 10px;
  }

  .custom-next {
    right: 10px;
  }
}





/* ----------------------------------- */
/* Camp Review card Style component css  */
/* -------------------------------------- */

.review_card {
  background-color: #f3eedc !important;
}

.camp_review_text {
  color: black;
  margin: 2%;
  font-weight: 800;
  font-size: 60px;
  line-height: 53px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
  margin-top: 10%;
}


/* Small devices (phones, 576px and up) */
@media only screen and (max-width: 600px) {
  .camp_review_text {
    font-weight: 800;
    margin-bottom: 10% !important;
    font-size: 25px;
    line-height: 40px;
  }

  .camp_review_text {
    max-width: 500px;
  }
}



/* --------------------------------- */
/* Element css here  */
/* -------------------------------------/- */
.element_row {
  background-color: #f9ca1e;
}

.element_text {
  color: black;
  margin-top: 3%;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  line-height: 55px;
  font-weight: 900;
  letter-spacing: 2PX;

}

.element_para {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 2PX;

}

.element_btn {
  margin: auto;
  margin-top: 30%;
  margin-left: 30%;
  width: 50%;
  background-color: #000;
  color: white;
  font-size: 25px;
  padding: 4%;
  border: 0;
  font-family: "Amatic SC", sans-serif;

}

/* Small devices (phones, 576px and up) */
@media only screen and (max-width: 600px) {

  .element_btn {
    margin: 5%;
    margin-top: 20%;
    margin-left: 25%;


  }

  .element_text {
    color: black;
    margin-top: 5%;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    letter-spacing: 2PX;

  }

}












/* LEVEl Comp CSS 
 */


.Level_cont_head {
  color: #ffc800;
  margin-top: 5%;
  font-family: "Amatic SC", sans-serif;
  font-size: 60px;
  line-height: 50px;
  font-weight: 900;
  letter-spacing: 2PX;

}

.Level_cont_para {
  color: black;
  font-family: sans-serif;
  margin-top: 2%;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  letter-spacing: 2PX;
}

.level_card {
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5%;
  transition: transform 0.3s ease-in-out
}

.level_card:hover {
  cursor: pointer;
  border: 1px solid #ffc800;
  border-radius: 5%;
  transform: translateY(-10px);

}

.level_card_text {
  color: black;
  font-weight: 500 !important;
  font-size: 30px !important;
  line-height: 53px;
  /* font-family: "Amatic SC", sans-serif; */

}

.level_card_text:hover {
  color: #ffc800 !important;
}






/* ----------------------------------- */
/* Life Style component css  */
/* -------------------------------------- */


.lifestyle {
  width: 100%;
  height: 90%;
  border-radius: 5%;
  background-position: center;
  background-repeat: no-repeat;
}


.lifestyle_text {
  color: black;
  margin-top: 5%;
  font-size: 22px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
}


.lifestyle_heading {
  color: #fcc116;
  font-weight: bold;
  font-size: 65px;
  line-height: 53px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
}

.lifestyle_para {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

/* Small devices (phones, 576px and up) */
@media only screen and (max-width: 600px) {
  .lifestyle_heading {
    font-size: 25px;
    line-height: 32px;
  }

  .lifestyle {
    width: 100%;
    background-size: cover;
    margin: 0 !important;
    margin-left: 0 !important;
  }

  .lifestyle_para {
    font-size: 15px;
  }
}



/* ------------------------------------------------ */
/* European CSS here  */
/* ------------------------------------------------ */


.Eurp_container {
  margin-top: 10%;
}

.Eurp_text_div {
  max-width: 900px;
}

.Eurp_para {
  font-size: 22px;
  line-height: 23px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Eurp_text {
  color: black;
  font-weight: bold;
  font-size: 60px;
  line-height: 55px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;

}


.Eurp_img_container {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: auto;
}

.background_text {
  padding-top: 50% !important;
  font-size: 50px !important;
  color: white !important;
  font-weight: bolder !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Small devices (phones, 576px and up) */
@media only screen and (max-width: 600px) {
  .background_text {
    font-size: 35px !important;


  }

  .Eurp_img_container {
    width: 100%;
    height: 40vh;
  }

  .Eurp_para {
    font-size: 18px;
    margin-top: 5%;
    font-weight: bold;

  }

  .Eurp_text {
    font-weight: 800;
    font-size: 25px;
    line-height: 40px;
  }



}




/* =---------------------------------- */
/* FAQ css  */
/* ------------------------------------ */
.faq_container {
  background-color: black;
  margin-bottom: 5%;
}

.faq_para {
  color: white;
  font-size: 22px;
  margin: 50px 0 30px 0;
  line-height: 23px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.faq_text {
  color: white;
  font-weight: 900;
  font-size: 60px;
  line-height: 53px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
}

.faq_img {
  width: 90%;
  /* background-size: cover; */
}



summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: black;
  color: #fcc116;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

details>summary::after {
  position: absolute;
  content: "+";
  right: 10px;

}

details[open]>summary::after {
  position: absolute;
  content: "-";
  right: 10px;

}

details>summary::-webkit-details-marker {
  display: none;
}

.faq__content {
  margin-top: -20px;
  padding: 0px 20px 0px 30px;
  background-color: black;
  color: white;
}


@media (max-width: 576px) {

  summary {
    font-size: 15px;
    font-weight: 600;
    background-color: black;
    color: #fcc116;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
  }


  .faq__content,
  .faq_ul {
    font-size: 14px !important;

  }


}



/* TEXT Container  Css  */

.text_small {
  margin-bottom: 15% !important;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 53px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;

}

.text_head {
  margin-top: 5%;
  color: black;
  font-weight: 800;
  font-size: 60px;
  line-height: 45px;
  font-weight: 800;
    font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;

}

.text_para {
  padding: 2px;
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 1PX;


}


@media only screen and (max-width: 600px) {
  .text_container {
    max-width: 500px;
  }

  .text_para {
    font-size: 15px;
    line-height: 18px;
   
  }

  .text_head {
    font-size: 28px;
    text-align: center;
    
  }
}


/* ----------------------------------- */
/* Activity component css  */
/* -------------------------------------- */

.Activity_head {
  color: black;
  font-family: sans-serif;
  margin-top: 7%;
  font-size: 22px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.Activity_head_text {
  color: black;
  font-weight: 900;
  font-size: 60px;
  line-height: 53px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
}

.activity_backimg {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  /* Adjust as needed */
  overflow: hidden;
  filter: brightness(150%);
}

.activity_backimg:hover {
  filter: brightness(200%);
  transition: 0.5 ease;
}

.activity_text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  margin-top: 120%;
}




@media only screen and (max-width: 600px) {
  .activity_backimg {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /* Adjust as needed */
    overflow: hidden;
    filter: brightness(150%);
  } 
  
  .Activity_head {
    font-size: 18px;
  }

  .Activity_head_text {
    font-size: 30px;
    line-height: 30px;
  }
  .card_d_text{
    margin-bottom: 100px;
  }
}



/* ----------------------------------- */
/* Surf camp slider component css  */
/* -------------------------------------- */

.adventure_slider {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 22px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.adventure_slider_text {
  color: black;
  font-weight: 800;
  font-size: 60px;
  line-height: 65px;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
}

.adventure_slider_div {
  max-width: 700px;

  margin: auto;
}

@media only screen and (max-width: 600px) {
  .adventure_slider {
    font-size: 15px;

  }

  .adventure_slider_text {
    font-size: 25px;
    line-height: 32px;
  }

  .adventure_slider_div {
    max-width: 500px;
  }
}






/* -------------------------------------- */
/* BG- Image css  */
/* -------------------------------------- */

.bg_image2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}


.bg_text {

  margin-top: 20%;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;

}

.bg_heading {
  margin-top: 5%;
  color: #fcc116;
  font-family: "Amatic SC", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 45px;
  text-transform: uppercase;

}

.bg_para {
  padding: 2px;
  color: white;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 1PX;
}


@media only screen and (max-width: 600px) {
  .bg_image2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  .bg_heading {
    font-size: 30px;
    line-height: 32px;
  }

  .bg_para {
    font-size: 15px;
    line-height: 20px;
  }
}



/* footer CSS ------------------------ */
/* footer CSS ------------------------ */

.footer_headcontainer {
  background-color: #ffc800;
}

.footer_headcontainer_text {
  color: white;
  margin-top: 5%;
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 2PX;
}

.email_input {
  background: #fffae7;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  margin-top: 23%;

}

.emailbtn {
  background-color: black !important;
  color: #fcc116 !important;
  padding: 10px !important;
  width: 150%;
}

.footerlogo {
  width: 80%;
}

.footer_bg {
  background-color: #000;
}

.footer_link {
  text-decoration: none;
  color: white;


}

.footer_link:hover {
  text-decoration: none;
  color: #ffc800;

}

.copyright {
  color: white;
}


.fa_icon_footer{
  color: #ffc800;
  font-size: 30px !important;

}



@media only screen and (max-width:600px) {
  .footer_headcontainer_text {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: white;
    font-family: "Amatic SC", sans-serif;
    line-height: 50px;
  }

  .email_button {
    width: 100%;
    background: #fffae7 !important;
    margin-top: 8px;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 1.25rem;
    background-color: rgba(255, 0, 0, .1);
    font-weight: 500 !important;
    font-family: Lapoint Repro Mono, Lapoint Repro, sans-serif;
    color: red;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }

  .footerlogo {
    margin-top: 10%;
    width: 80%;
  }

}

/* --------------------------------------
Trip CSS
-------------------------------------- */

.trip_tabs{
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 3% 2.5% 0% 2.5%;
  padding: 0%;
  font-weight: bold;
}

.trip_tabs:hover{
  text-decoration: underline;
}

.trip_tabs:active{
  color: yellow;
}

.tab_scroll{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.trip_heading{
  font-family: "Amatic SC", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.trip_para{
  font-family: Roboto, arial, sans-serif;
  font-weight: 30px !important;
  font-size: 18px;
  padding: 0% 5% !important;
}

.img_spacing{
  padding: 20%;
}

.img_head{
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.img_para{
  text-align: center;
  color: black;
}

/* Medium devices (tablets, 768px and up)---------------- */
/* @media (max-width: 1024px) and (min-width: 768px) {
  .tab_scroll{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
} */

/* Small devices (phones, 576px and up)------------------ */

@media only screen and (max-width: 600px) {
  .img_spacing{
    padding: 15%;
  }
}

/* --------------------------------
Package tabs css 
-------------------------------- */

.package_btn{
  transition: color 0.3s ease;
  margin-top: 5%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  background-color: transparent;
  border: none;
  /* text-decoration: underline; */
  color: black;
  border-width: 1px;
  outline: none;
  /* margin: 3% 2.5% 0% 2.5%; */
  padding: 1% 2% 0% 2% ;
  position: relative;
  font-weight: bold;
}

.package_btn:focus {
  /* background-color: #ffbd2e; Active background color */
  /* text-decoration: underline; */
  color: #ffbd2e;
  /* Optional: Change text color */
  outline: none; /* Remove the default focus outline */
}


.package_btn:hover  {
  /* text-decoration: underline; */
  color: #ffbd2e; /* Active text color */
  outline: none; /* Remove the default focus outline */
}

.package_btn:hover::after {
  content: ''; /* Display the pseudo-element */
  position: absolute;
  left: 50%; /* Center the pseudo-element horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  bottom: -5px; /* Position the pseudo-element below the button */
  width: 50%; /* Width of the pseudo-element (adjust as needed) */
  height: 2px; /* Height of the pseudo-element */
  /* Color of the pseudo-element */
  transition: all 0.5s ease-in-out;
  background-color: #ffbd2e; 
}

.level_desc{
  font-family: Roboto, arial, sans-serif;
  font-weight: 30px !important;
  font-size: 18px;
  padding: 0% 5% !important;
  margin-top: 5% !important;
}

.lifestyle_package_text{
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.lifestyle_package_para{
  font-family: Roboto, arial, sans-serif;
}

.sum2_heading{
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.sum2_container {
  background-color: #fff5da;
  margin-bottom: 5%;
  border-radius: 5px;
}

.sum2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  color: #0f0f0f;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

details>.sum2::after {
  position: absolute;
  content: "+";
  right: 10px;

}

details[open]>.sum2::after {
  position: absolute;
  content: "-";
  right: 10px;

}

details>.sum2::-webkit-details-marker {
  display: none;
}

.sum2__content {
  font-family: Roboto, arial, sans-serif;
  font-size: 10px;
  margin-top: -20px;
  padding: 0px 20px 0px 30px;
  background-color: transparent;
  color: black;
}


.p_faq_heading{
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.p_faq_container {
  background-color: transparent;
  margin-bottom: 5%;
  border-radius: 5px;
}

.p_faq {
  font-family: "Amatic SC", sans-serif;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  color: #0f0f0f;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

details>.p_faq::after {
  position: absolute;
  content: "+";
  right: 10px;

}

details[open]>.p_faq::after {
  position: absolute;
  content: "-";
  right: 10px;

}

details>.sum2::-webkit-details-marker {
  display: none;
}

.p_faq__content {
  font-family: Roboto, arial, sans-serif;
  font-size: 10px;
  margin-top: -20px;
  padding: 0px 20px 0px 30px;
  background-color: transparent;
  color: black;
}

.logocard_container{
  background-color: #fff5da;
  margin-bottom: 5%;
  border-radius: 5px;
}

.logo_img_contaienr{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}

.logo_img {
  width: 40%;
  max-width: 100%;
}

/* .text-center {
  margin-top: 10px;
} */

/* ---------------------------
Accomodation
--------------------------- */

.Accomodation1_head{
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-top: 5%;
  text-align: center;
}

.Accomodation_desc{
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  padding: 0% 5% 0% 5% !important;
}

.box-accom-custom {
  padding-bottom: 30px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 20px; 
  height: 100%;
  /* width: 31.33% !important; */
}

.over-img-accomodation {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

.box-accom-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  font-family: "Amatic SC";
}

.box-accom-des {
  text-align: center;
  font-size: 16px;
  color: #000;
  padding: 0px 10px;
}

/* --------------------------
Included
-------------------------- */

.included_desc{
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  padding: 0% 5% 0% 5% !important;
}

.level_heading_card{
  background-color: #ffc800;
  text-align: center;
  align-items: center;
  padding: 5%;
  border-radius: 5px;
  margin-bottom: 2%;
}

.level_heading{
  font-size: 20px;
}

.week_btn{
  width: 100%;
  align-items: center;
  height: 40px;
  border: solid;
  border-color: rgb(197, 197, 197);
  background-color: rgb(223, 223, 223);
}

.included_card{
  border: 2px solid;
  height: 100%;
}

/* -----------------------------
Review Card 
----------------------------- */

.review_carousel-container {
  margin: auto;
  padding: 0 15px;
}

.review_carousel-item-padding-40-px {
  padding: 10px;
}

.review_review-card {
  background-color: #f3eedc;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review_image-container {
  display: flex;
  align-items: center;
}

.review_rounded-circle {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.review_card-body {
  display: flex;
  flex-direction: column;
}

.review_name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.review_date {
  font-size: 14px;
  margin-bottom: 10px;
}

.review_para {
  font-size: 14px;
}

/* -----------------------
Hosted css
----------------------- */

.hosted_card{
  border-radius: 15px;
}

.hosted_card_title{
  margin-top: 20px;
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  color: #dbb837;
}

.hosted_card_year{
  color: #dbb837;
}

.hosted_card_last{
  font-size: 13px;
}

.hosted_card_last2{
  margin-top: -10px;
  font-size: 13px;
}