/* ----------------------------------- */
/* Surf camp component css  */
/* -------------------------------------- */


.surf_container {
  margin-top: 10%;
}


.surf_text {
  color: black;
  font-weight: 900;
  font-size: 48px;
  line-height: 53px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.surf_para {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 22px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 2PX;
}


/* Photo section css  */

.surf_img1 {
  width: 100%;
  border-radius: 5%;
  height: 100vh;

}

.surf_img2 {
  border-radius: 5%;
  width: 100%;
  height: 100vh;

}

.surf_img3 {
  border-radius: 5%;
  width: 100%;
  height: 48vh;


}

.surf_img4 {
  border-radius: 5%;
  width: 100%;
  height: 46vh;

}


@media only screen and (max-width: 600px) {
  .surf_img1 {
    width: 100%;
    border-radius: 5%;
    height: 40vh;

  }

  .surf_img2 {
    border-radius: 5%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 40vh;

  }

}

/* ----------------------------------- */
/* Surf camp slider component css  */
/* -------------------------------------- */

.surf_slider {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 22px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.surf_slider_text {
  color: black;
  font-weight: 800;
  font-size: 40px;
  line-height: 53px;
  font-family: sans-serif;
  text-transform: uppercase;
}

/* .slid_card_backimg{
    height: 60vh;
    width: 100%;
} */
.slid_card_backimg {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  /* Adjust as needed */
  overflow: hidden;
}

.slid_card_text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.card_d_text {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.custom-prev,
.custom-next {
  position: absolute;
  margin-top: -15%;
  transform: translateY(-50%);
  background-color: #000000;
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
}

/* Adjust the left and right properties */
.custom-prev {
  left: 10px;
  /* Adjust as needed */
}

.custom-next {
  right: 10px;
  /* Adjust as needed */
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #ff0000;
}

/* Small devices (phones, 576px and up) */
@media only screen and (max-width: 600px) {

  .custom-prev,
  .custom-next {
    display: none !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) and (min-width: 768px) {
  .custom-prev {
    left: 10px;
  }

  .custom-next {
    right: 10px;
  }
}

/* ----------------------------------- */
/* Review card Style component css  */
/* -------------------------------------- */

.review_card {
  background-color: #f3eedc !important;
}

.camp_review_text {
  color: black;
  font-weight: 800;
  font-size: 40px;
  line-height: 53px;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 10%;
}

/* ----------------------------------- */
/* Life Style component css  */
/* -------------------------------------- */

.lifestyle {
  width: 90%;
  height: 95vh;
  border-radius: 3%;
}

.lifestyle_text {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 22px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
}


.lifestyle_heading {
  color: black;
  font-weight: 800;
  font-size: 40px;
  line-height: 53px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.lifestyle_para {
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}


/* ------------------------------------------------ */
/* European CSS here  */
/* ------------------------------------------------ */


.Eurp_container {
  margin-top: 10%;
}

.Eurp_para {
  font-size: 22px;
  line-height: 23px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Eurp_text {
  color: black;
  font-weight: 900;
  font-size: 40px;
  line-height: 53px;
  font-family: sans-serif;
  text-transform: uppercase;
}


.Eurp_img_container {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: auto;
}

.background_text {
  padding-top: 50% !important;
  font-size: 50px !important;
  color: white !important;
  font-weight: bolder !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Small devices (phones, 576px and up) */
@media only screen and (max-width: 600px) {
  .background_text {
    font-size: 35px !important;


  }

  .Eurp_img_container {
    width: 100%;
    height: 40vh;
  }

}


/* =---------------------------------- */
/* FAQ css  */
/* ------------------------------------ */


.faq_para {
  font-size: 22px;
  line-height: 23px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.faq_text {
  color: black;
  font-weight: 900;
  text-align: start;
  font-size: 40px;
  line-height: 53px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.faq_cont {
  position: relative;
  z-index: 1000;
  margin-top: 5%;
}

.faq_question {
  cursor: pointer;
  color: red;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.popupbox {
  position: absolute;
  left: 0;
  right: 0;
  padding: 15px;
  width: 40%;
  border-radius: 20px;
  box-shadow: rgba(42, 42, 42, 0.35) 0px 10px 15px;
  margin: auto;
  bottom: 2rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  /* Start slightly below the viewport */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.popupbox.visible {
  opacity: 1;
  transform: translateY(0);
  /* Move to the final position */
}

.popupbox.hidden {
  opacity: 0;
  transform: translateY(20px);
  /* Reset to start position */
}

.close-btn {
  position: relative;
  /* left: 28rem; */
  right: -50;
  background: transparent;
  border: none;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-btn:hover {
  color: #000;
  /* Adjust hover color as needed */
}


@media only screen and (max-width: 600px) {
  .popupbox {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    bottom: 60%;
  }

}




/* TEXT Container  Css  */

.text_small {
  margin-bottom: 15% !important;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 53px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;

}

.text_head {
  margin-top: 5%;
  color: black;
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;
  font-family: sans-serif;
  text-transform: uppercase;

}

.text_para {
  padding: 2px;
  color: black;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 1PX;


}

/* -------------------------------------- */
/* BG- Image css  */
/* -------------------------------------- */

.bg_image2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  /* Black overlay with 50% opacity */
  z-index: 1;
  /* Ensures this overlay is on top of the image */
  pointer-events: none;
  /* Clicks will pass through to content beneath */
}

.bg_text {

  margin-top: 20%;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;

}

.bg_heading {
  margin-top: 5%;
  color: white;
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;
  font-family: sans-serif;
  text-transform: uppercase;

}

.bg_para {
  padding: 2px;
  color: white;
  font-family: sans-serif;
  margin-top: 5%;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 1PX;
}