

.cal_head{
  text-transform: uppercase;
    color: #ffc800;
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
  
}

.datepick_border{
  border: 1px solid #ffc800;
  margin: 5%;
}

.unavailable-date {
  background-color: red !important;
  color: white !important;
}

.available-date {
  background-color: greenyellow !important;

  color: black !important;
}

.person_week{
  text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.date_visible{
  color: white; 
  margin: 2px;
  font-size: 18px;
}

.cir1{
  color: green;
}

.cir2{
  color: red;
}

.date_visible_span{
  margin-right: 40px !important
}


/* all calender css new   */

/* Custom DatePicker Styles */


.custom-datepicker {
  border-radius: 8px;
  padding: 20px;
}


.react-datepicker {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
}

.react-datepicker__day--selected, 
.react-datepicker__day--keyboard-selected {
  /* background-color: #ffc800; */
  color: white;
}

.react-datepicker__day:hover {
  background-color: #e2e6ea; /* Light gray on hover */
  color: black;
  font-weight: bold;
}

.react-datepicker__day--highlighted {
  background-color: #ffeeba; /* Highlighted days */
  color: #856404;
}

.react-datepicker__header {
  background-color: #f9cd2e;
  padding-top: 30px;  
  border-bottom: none;
}

.react-datepicker__day-name{
  margin: 11.5px;
}

.react-datepicker__current-month {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 30px;
  font-size: 15px !important;
  color: black !important ;
} 

.react-datepicker__month {
  margin: 10px; 
  padding: 20px;
}



.custom-datepicker .react-datepicker__day {
  /* margin: 5px; */
  /* padding: 5px; */
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin: 14px;
}


/* Vertical line between calendars */
.custom-datepicker::before {
  content: '';
  position: absolute;
  top: 55%;
  margin-top: 10%;
  bottom: -18%;
  left: 50%;
  width: 2px;
  background-color: #ccc;
  z-index: 1;
}


.highlight-range {
  background-color: #ffc800 !important; /* Customize your color */
  color: white;
  border-radius: 50%; /* Optional: Make the date circle */
}

/* Adjustments for mobile */
@media (max-width: 768px) {
  .custom-datepicker {
    width: 100%;
    margin: auto;
  }

  .custom-datepicker::before {
    display: none;
  }

  .date_visible_span{
    margin: 5px !important
  }
  
}



  