/* level css here  */

.level_container {
    background-color: black;
}

.level_heading {
    text-transform: uppercase;
    color: #ffc800;
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
}

.form_crd_row {
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 2px #b7b7b7; */
    background-color: white;
}

.level_crd_text {
    margin-top: 20px;
    font-size: 20px;
}

.level_crd_para {
    padding-left: 18px;
}

.add_num {
    font-size: 22px;
}


.moreinfo_btn {
    color: #ffc800;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5% !important;


}

.P_M_icon {
    cursor: pointer;
    font-size: 30px;
    margin-top: 35px !important;
    margin: 12px;
    color: #ffc800;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.level_btn {
    background-color: #ffc800;
    color: black;
    font-size: 25px;
    /* font-weight: bold; */
    margin: auto;
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    border-radius: 25px;
}





/* checkout component css  */


.checkout_heading {
    color: #ffc800;
    font-size: 30px;
}

.checkout_data {
    font-size: 17px;
    margin: 5px;
    color: #fff;
}



/* --------------------------------  */
/* userinfo  component css  */
/* --------------------------------  */

.form_head {
    font-size: 18px;
    font-weight: bold;
}

/* From input field css */
.mat-input {
    position: relative;
    font-size: inherit;
}

.mat-input input {
    border-width: 0 0 1px;
    outline: none;
    background-color: #0000000a;
    border-radius: 4px 4px 0 0;
    padding: 1.5em 0.70em 0.70em;
    border-color: #393838;
    border-style: solid;
    font-size: inherit;
    transition: 0.1s;
}

.mat-input input:hover,
.mat-input input:focus {
    border-bottom-width: 2px;
    padding-bottom: calc(0.75em - 1px);
}

.mat-input input:hover {
    border-color: #ffc800;
}

.mat-input input:focus {
    border-color: #ffc800;
}

.mat-input label {
    position: absolute;
    top: 1.4em;
    left: 1em;
    pointer-events: none;
    transition: 0.2s;
    color: #0009;
}

.mat-input:has(input:focus) label {
    color: #ffc800;
}

.mat-input:has(input:focus) label,
.mat-input:not(:has(input:placeholder-shown)) label {
    top: 0.75em;
    font-size: 0.8em;
}

.mat-input input::placeholder {
    opacity: 0;
    transition: 0.2s;
    color: #2c2c2c;
}

.mat-input input:focus::placeholder {
    opacity: 1;
}



/* in form  select box css  */


/* From input field css */
.mat-input {
    position: relative;
    font-size: inherit;
}

.mat-input input {
    border-width: 0 0 1px;
    outline: none;
    background-color: #0000000a;
    border-radius: 4px 4px 0 0;
    padding: 1.5em 0.70em 0.70em;
    border-color: #8c8c8c;
    border-style: solid;
    font-size: inherit;
    transition: 0.1s;
}

.mat-input input:hover,
.mat-input input:focus {
    border-bottom-width: 2px;
    padding-bottom: calc(0.75em - 1px);
}

.mat-input input:hover {
    border-color: #ffc800;
}

.mat-input input:focus {
    border-color: #ffc800;
}

.mat-input label {
    position: absolute;
    top: 1.4em;
    left: 1em;
    pointer-events: none;
    transition: 0.2s;
    color: #0009;
}

.mat-input:has(input:focus) label {
    color: #ffc800;
}

.mat-input:has(input:focus) label,
.mat-input:not(:has(input:placeholder-shown)) label {
    top: 0.75em;
    font-size: 0.8em;
}

.mat-input input::placeholder {
    opacity: 0;
    transition: 0.2s;
    color: #2c2c2c;
}

.mat-input input:focus::placeholder {
    opacity: 1;
}

.mat-input select {
    width: 100% !important;
    border: 1px solid #8c8c8c !important;
    border-radius: 4px !important;
    padding: 1em !important;
    font-size: inherit !important;
    background-color: #0000000a !important;
    transition: border-color 0.2s !important;
}

.mat-input select:hover,
.mat-input select:focus {
    border-color: #ffc800 !important;
    outline: none !important;
}




/* toggel btn for same information for Traveller 1 */

/* From Uiverse.io by TimTrayler */ 
.switch {
    --secondary-container: #dbd0ac;
    --primary: #ffc800;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.4em;
    height: 1.5em;
   }
   
   .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b4b4b4;
    transition: .2s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #393939;
    transition: .4s;
   }
   
   input:checked + .slider::before {
    background-color: var(--primary);
   }
   
   input:checked + .slider {
    background-color: var(--secondary-container);
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
   }
   
   input:checked + .slider:before {
    transform: translateX(1.9em);
   }