/* level css here  */

.level_container{
    background-color: black;
}

.level_heading {
    text-transform: uppercase;
    color: #ffc800;
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
}

.form_crd_row {
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 2px #b7b7b7; */
    background-color: white;
}

.level_crd_text {
    margin-top: 20px;
    font-size: 20px;
}

.level_crd_para {
    padding-left: 18px;
}

.add_num {
    font-size: 22px;
}


.moreinfo_btn{
    color: #ffc800;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5% !important;


}

.P_M_icon {
    cursor: pointer;
    font-size: 30px;
    margin-top: 35px !important;
    margin: 12px;
    color: #ffc800;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.level_btn {
    background-color:  #ffc800;
    color: black;
    font-size: 25px;
    /* font-weight: bold; */
    margin: auto;
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    border-radius: 25px;
}